html{
    overflow-y: hidden;
    overflow-x: hidden;
}


.meshBG{
    width: 100vw;
    height: 100vh;
    position: fixed;
    object-fit: cover;
    z-index: -100;
}

.whiteNowe{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 75px;
    height: 75px;
    opacity: 70%;
    
}

.signup-modal{
    width: 700px;
    height: 600px;
    background-color: var(--c-white);
    border-radius: 2rem;
    box-shadow:
  0px 2.1px 2.2px rgba(0, 0, 0, 0.02),
  0px 5.1px 5.3px rgba(0, 0, 0, 0.028),
  0px 9.5px 10px rgba(0, 0, 0, 0.035),
  0px 17px 17.9px rgba(0, 0, 0, 0.042),
  0px 31.8px 33.4px rgba(0, 0, 0, 0.05),
  0px 76px 80px rgba(0, 0, 0, 0.07)
;
    margin: 8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-title{
    font-weight: 700;
    color: var(--c-black);
    margin-bottom: 1rem;
    margin-top: 0px;
}

.main-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
}

.signup-userpass{
    display: flex;
    margin-left: 10rem;
    margin-right: 10rem;
    justify-content: none;
    align-items:none;
    text-align: left;
}

label{
    margin-right: 1rem;
    font-size: 14px;
    font-weight: 600;
    color: var(--c-dgray);
}

.text-field{
    font-size: 15px;
    margin-bottom: 2rem;
    width: 300px;

}

.createacc-btn{
    width: 200px;
    font-size: 18px;
    margin-top: -2rem;
    margin-right: 1rem;
}

.signup-btn-container{
    display: inline-block;
    padding: 1rem;
}
