.mnavbar-hidden{
    opacity: 0;
    transition: var(--transition);
    display: none;
}

.mnavbar-shown{
    opacity: 1;
    color: red;
    display: inline;
}


.mnavbar-links{
    
    display: flex;
    align-items: center;
    transition: var(--transition);


    
}
    

.mnavbar-linkswrap{
    padding-top: 1rem;
    margin: 0;
    padding: 0;
    display: flex;
    height: 40%;
    list-style: none;
    background-color: var(--c-white);
    width: 100%;
    flex-direction: column;
    position: fixed;
    top: 59px;
    left: 0;
    box-shadow:
  0px 6.6px 10px rgba(0, 0, 0, 0.035),
  0px 53px 80px rgba(0, 0, 0, 0.07)
;
    transition: transform 0.3s ease-out;


}


.nav-close{
    transform: translateY(-130%);
}

.nav-open{
    transform: translateY(0%);
}




.mnavbar-linksitem{
    height: 18%;
    width: 93%;
    padding: 0 1.1em;
    color: var(--c-dgray);
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    justify-content: center;    
    transition: var(--transition);
    display: flex;
    text-align: left;
    margin-right: 1rem;
    

}

.mnavbar-acc{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
    gap: 0.5rem;
}

.mnavbar-btn{
    display: flex;

}

.mnavbar-linksitembtn{
    gap: 0.5rem;
}

.opacity-100{
    opacity: 100%;

}

.opacity-0{
    opacity: 0%;

}

.transition-opacity{

    transition: all 100ms ease;

}