@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  html{
    scroll-behavior: smooth
  }

 body{

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color: var(--c-white);

    color: var(--c-black);
    height: 100%;

 }


 *{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
 }

a{
  color: var(--c-black);
}

 :root{

  --c-main: #546AE9;
  --c-main2: #798DFF;
  --c-white: #FAFAFD;
  --c-black: #070813;
  --c-green: #3FCAA9;

  --c-red: #FF3F3F;
  --c-lblue: #d1ecfd;
  --c-dblue: #5585a2;
  --c-lgray: #DFDFDF;
  --c-dgray: #37373f;

  --transition: all 400ms ease;

}

.main-btn{

  cursor: pointer;
  color: var(--c-white);
  background-color: var(--c-main);
  border: transparent 1px solid;
  font-weight: 500;
  padding: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  transition: var(--transition);
}


.main-btn:hover{
  background-color: var(--c-main2);
  box-shadow:
  0px 0.8px 2.2px rgba(0, 0, 0, 0.02),
  0px 1.9px 5.3px rgba(0, 0, 0, 0.028),
  0px 3.6px 10px rgba(0, 0, 0, 0.035),
  0px 6.5px 17.9px rgba(0, 0, 0, 0.042),
  0px 12.1px 33.4px rgba(0, 0, 0, 0.05),
  0px 29px 80px rgba(0, 0, 0, 0.07)
;
}


.alt-btn{
  cursor: pointer;
  font-weight: 600;
  padding: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;

  border: 2px var(--c-lgray) solid;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  transition: var(--transition);

  color: var(--c-dgray);
  background-color: transparent;

}

.alt-btn:hover{
  border-color: rgb(150, 150, 150);
  box-shadow:
  0px 0.8px 2.2px rgba(0, 0, 0, 0.02),
  0px 1.9px 5.3px rgba(0, 0, 0, 0.028),
  0px 3.6px 10px rgba(0, 0, 0, 0.035),
  0px 6.5px 17.9px rgba(0, 0, 0, 0.042),
  0px 12.1px 33.4px rgba(0, 0, 0, 0.05),
  0px 29px 80px rgba(0, 0, 0, 0.07)
;
}

.main-btnr{
  cursor: pointer;
  color: var(--c-white);
  background-color: var(--c-main);
  border: transparent 1px solid;
  font-weight: 500;
  padding: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 3rem;
  font-size: 0.8rem;
  transition: var(--transition);
}

a.main-btnr,a.main-btnr,a.alt-btn,a.alt-btn{
  padding-top: 12px;
}


.main-btnr:hover{
  background-color: var(--c-main2);
  box-shadow:
  0px 0.8px 2.2px rgba(0, 0, 0, 0.02),
  0px 1.9px 5.3px rgba(0, 0, 0, 0.028),
  0px 3.6px 10px rgba(0, 0, 0, 0.035),
  0px 6.5px 17.9px rgba(0, 0, 0, 0.042),
  0px 12.1px 33.4px rgba(0, 0, 0, 0.05),
  0px 29px 80px rgba(0, 0, 0, 0.07)
;
}

.alt-btnr{
  cursor: pointer;
  font-weight: 600;
  padding: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;

  border: 2px var(--c-lgray) solid;
  border-radius: 3rem;
  font-size: 0.8rem;
  transition: var(--transition);

  color: var(--c-dgray);
  background-color: transparent;

}

.alt-btnr:hover{
  border-color: rgb(150, 150, 150);
  box-shadow:
  0px 0.8px 2.2px rgba(0, 0, 0, 0.02),
  0px 1.9px 5.3px rgba(0, 0, 0, 0.028),
  0px 3.6px 10px rgba(0, 0, 0, 0.035),
  0px 6.5px 17.9px rgba(0, 0, 0, 0.042),
  0px 12.1px 33.4px rgba(0, 0, 0, 0.05),
  0px 29px 80px rgba(0, 0, 0, 0.07)
;
}






h1{
  font-weight: 600;
  font-size: 2rem;

}

h2{
  font-weight: 500;
  font-size: 1.5rem;

}

h3{
  font-weight: 500;
  font-size: 1.4rem;

}

h4{
  color: var(--c-black);
  font-weight: 600;
  font-size: 1.3rem;

}

h5{
  color: var(--c-dgray);
  font-weight: 500;
  font-size: 1.2rem;

}



.rimg{
  border-radius: 3rem;
}

ul{
  color: var(--c-black);
}

p{
  color: var(--c-dgray);
}

.text-field{
  border: 2px solid rgb(181, 181, 181);
  border-radius: 0.5rem;
  transition: var(--transition);
  background: none;
  outline: none;


}

.text-field:focus{
  border-color: var(--c-main2);

  
}

.text-field:hover{
  border-color: var(--c-main2);

}


