@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 *{

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color: var(--c-white);

    color: var(--c-black);

 }

 :root{

  --c-main: #546AE9;
  --c-main2: #798DFF;
  --c-white: #FAFAFD;
  --c-black: #070813;
  --c-green: #3FCAA9;

  --c-red: #FF3F3F;
  --c-lblue: #d1ecfd;
  --c-lgray: #DFDFDF;
  --c-dgray: #37373f;

  --transition: all 400ms ease


}

.main-btn{
  color: var(--c-white);
  background-color: var(--c-main);
  font-weight: 500;
  padding: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  transition: var(--transition);
}

.main-btn:hover{
  background-color: var(--c-main2);
}


.alt-btn{
  font-weight: 600;
  padding: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;

  border: 2px var(--c-lgray) solid;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  transition: var(--transition);

  color: var(--c-dgray);
  background-color: transparent;

}


.alt-btn:hover{
  border-color: var(--c-dgray);
}

h1{
  font-weight: 700;
  font-size: 3rem;

}

h2{
  font-weight: 600;
  font-size: 2.5rem;

}

h3{
  font-weight: 600;
  font-size: 2rem;

}

h4{
  font-weight: 600;
  font-size: 1.5rem;

}

h5{

  font-weight: 600;
  font-size: 1.2rem;

}